body {
  font-family: "Roboto", sans-serif;
}

.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em;
}

.encabezado .buscador {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.encabezado .buscador__button {
  margin-left: 0.3em;
  background-color: red;
  border: none;
  padding: 0.5em 1.4em 0.5em 1.4em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 0.3em;
       column-gap: 0.3em;
  transition: background 0.5s;
}

.encabezado .buscador__button:hover {
  margin: none;
  background-color: #cc0000;
  outline: none;
}

.encabezado .buscador__input {
  padding: 0.35em 0.2em 0.35em 1em;
}

.encabezado .buscador__input:hover {
  outline: none;
}

.encabezado .buscador__input:focus {
  outline: none;
}

.encabezado .buscador__input::-webkit-search-cancel-button {
  cursor: pointer;
}

.encabezado .nombre {
  padding: 0.2em 1em 0 0;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

@media (max-width: 991px) {
  .encabezado {
    justify-content: center;
    flex-direction: column-reverse;
    row-gap: 0.3em;
    margin-bottom: 0.5em;
  }

  .encabezado img {
    display: none;
  }

  .encabezado .nombre {
    font-weight: 500;
  }
}

